# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Project/large_files

Project/AllPrintings(22.05.23).sql
Project/AllPrintings(13.06.23).sql
Project/cards.psd
Project/closed-chest.psd
Project/Magic_The_Gathering_logo_PNG1.png
Project/Magic_The_Gathering_logo_PNG7.png
Project/welcome MTG.psd
