.image1 {
    height: 300px;
    border-radius: 0px 30px 0px 30px;
}

.text {
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    margin-bottom: 20px;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    text-shadow: 2px 2px black;
}

.container {
    margin: 50px 200px 100px 200px;
}