

.Card {
    margin: 15px 0px 15px 0px;
    transition: border 0.1s;
    height: 300px;
    border-radius: 11px;
    
}

.Card:hover {
    border: solid 7px lightskyblue;
    animation: hover-animation 0.4s forwards;
    cursor: grab;

}

/* Battle Cards are read horizontally, so mouseovering it rotates it to display properly (battle-hover-animation). As it's the same for Fuse Cards, they're being assumed as Battle class. */

.Battle {
    margin: 15px 0px 15px 0px;
    transition: border 0.1s;
    height: 300px;
    border-radius: 11px;
}

.Battle:hover {
    border: solid 7px lightskyblue;
    animation: battle-hover-animation 0.4s forwards;
    cursor: grab;
}



/* Plane Cards are read horizontally, but unlike Battles they are already wide-long by default. To maintain pattern, it's getting rotated before hover and on mouseover it turns horizontal.  */
.Plane { 
    margin: 30px 0px 30px 0px;
    transition: border 0.1s;
    height: 215px;
    width: 250px;
    border-radius: 11px;
    rotate: 270deg;
}

.Plane:hover { 
    border: solid 7px lightskyblue;
    animation: battle-hover-animation 0.4s forwards;
    cursor: grab;
}


@keyframes hover-animation {

    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.7)
    }
    
}

@keyframes battle-hover-animation {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.7) rotate(90deg);
    }
}