* {
    margin: 0px;
    padding: 0px;
}

.Container {
    color: white;
    background-size: auto;
    background-color: #000000;

    transition: background-color 0.9s ease;
    /* This inhibits the Container to be pushed down in case of the first element of the page being top-marged*/
    float: left;
    width: 100%;

}

.Container.active {
    color: white;
    background-color: #0a0903;
}

