.Footer {
  float: left;
  position:initial;
  left: 0;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;

  bottom: 0;
  width: 100%;

  background-color: rgb(25, 135, 84);
  color: white;
  text-align: center;
  height: 300px;
}
