.titleContainer {
    border: red solid 10px;
    box-shadow: 5px 5px black;
    background-color:antiquewhite;
    color: black;
    border-radius: 4px;
    max-width: 500px;
    display: flex;
    margin: 80px auto 80px auto;
    box-sizing: border-box;
}

.title {
    font-size: 50px;
}

.Paragraph {
    font-size: 20px;
}

.list {
    max-width: 900px;
    margin: auto;
    line-height: 25px;
    list-style: disc;
    text-align: start;
}

.listItem {
    margin: 15px 0 15px 0;
}