.MiniCard {
    display: flex;
    height: 24px;
    width: 249px;
    color: black;
    margin: 2px 0px 2px 5px;

    font-size: 13px;
    font-family: "BelerenBold";
    justify-items: center;
    vertical-align: middle;
}

.MinierCard {
    position: relative;
    display: flex;
    height: 24px;
    width: 260px;
    color: black;
    margin: 2px 0px 2px 5px;
    font-size: 14px;
    font-family: "BelerenBold";
    justify-items: center;
    vertical-align: middle;
}

.Main:hover {
    border: solid 2px rgb(80, 139, 184);
    scale: 1.06;
}

.Count {
    text-align: start;
    padding-left: 8px;
    padding-top: 3px;
    width: 55px;
    margin-right: -23px;
    background-color: black;
    color: white;
    background:
      radial-gradient(circle at right, transparent, transparent 44%, #000000 15%) right;
  background-size: 100% 100%;
  background-repeat:no-repeat;

}


.Main {
    align-items: center;
    padding-left: 3px;
    border: solid 2px black;
    border-radius: 2% / 50%;
    width: 221px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

/* Icons */

.colorlessIcon {
    margin: 0 1px 0 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-family: "BelerenBold";
    width: 12px;
    height: 12px;
    background-color:#b9b1a1;
    border-radius: 100%;
    box-shadow: rgb(0, 0, 0) -1px 1px 2px;
    
}

.cardCost {
    padding: 0 2px 0 2px;
}

.coloredIcon {
    margin: 0 1px 0 1px;
    border-radius: 100%;
    box-shadow: rgb(0, 0, 0) -1px 1px 2px;
}

/* Hovering */

.Card {
  margin: 15px 0px 15px 0px;
  transition: border .1s;
  border-radius: 12px;
  z-index: 1;
  position: relative;
}

.Centered {

  position: absolute;
  right: -232px;
  top: -170px;
  scale: 0.45;
  z-index: 10;
}

.Left {
    position: absolute;
    left: 35px;
    top: -400px;
    scale: 0.35;
    z-index: 10;
  }
  
  .LeftPlaneOrBattle {
    position: absolute;
    left: 75px;
    top: -350px;
    scale: 0.35;
    z-index: 10;
  }
  
  .Right {
    position: absolute;
    right: 35px;
    top: -400px;
    scale: 0.35;
    z-index: 10;
  }
  
  
  .RightPlaneOrBattle {
    position: absolute;
    right: 75px;
    top: -350px;
    scale: 0.35;
    z-index: 10;
  }
  
  .scaledCard {
    border-radius: 12px;
    animation: hover-animation 0.3s forwards;
    z-index: 10;
  }
  
  .scaledPlaneOrBattle {
    border-radius: 12px;
    animation: battle-hover-animation 0.3s forwards;
    z-index: 10;
  }

/* Animations */

/* Hover for cards */
@keyframes hover-animation {
    0% {
      transform: scale(1.11);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.11);
      opacity: 1;
    }
  
    100% {
      transform: scale(1.2);
    }
  }
  
  /* Hover for Battle, Plane and Fuse cards*/
  @keyframes battle-hover-animation {
    0% {
      transform: scale(1.11);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.11) rotate(90deg);
      
      opacity: 1;
    }
  
    100% {
      transform: scale(1.2) rotate(90deg);
    }
  }
