.SearchContainer {
    padding: 20px 0 20px 0;
    background-color: #6184d8;
    border: 6px solid #ff8200;
    border-radius: 4px;
    color: black;
    max-width: 75%;
    margin: auto;
    margin-bottom: 35px;
}

input::placeholder {
    font-style: italic;
    color: #77868f;
    text-align: center;
}

input:focus::placeholder {
    color:transparent;
}

.Filters{
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 0px;
}

.FilterBox{
    width: 170px;
}

