.SearchContainer {
    padding: 20px 0 20px 0;
    background-color: #6184d8;
    background-image: linear-gradient(#b8b8b8, rgb(82, 82, 82));
    border: 6px solid #ff8200;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    max-width: 60%;
    min-width: 320px;
    margin: auto auto 95px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CollectionSearch {
    padding: 20px 0 0 0;
    color: rgb(255, 255, 255);
    width: 96%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Input {
    width: 170px;
}

.Input::placeholder {
    font-style: italic;
    color: #77868f;
    text-align: start;
}

.Input:focus::placeholder {
    color:transparent;
}

.Filters{
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 0px;
}

.FilterBox{
    min-width: 287px;
    max-width: 320px;

}

/* Checkbox */

input[type="checkbox"] {
    display: none;
}

label {
    border: 4px solid transparent;
    border-radius: 100%;
    cursor: pointer;

}


label img {
    transition-duration: 0.08s;
    border: 4px solid transparent;
}

:checked + label img {
    border: 4px #ffffff solid;
    border-radius: 100%;
    box-sizing: border-box;
}

/* Orange borders for double check*/

.Typing {
    border: 4px solid transparent;
}

.Blank {
    border: 4px orange solid;
}


