.title {
    font-size: 50px;
    border: red solid 10px;
    box-shadow: 5px 5px black;
    background-color: aliceblue;
    color: black;
    border-radius: 4px;
}

.Paragraph {
    font-size: 20px;
}

.list {
    margin: 20px 0px 0px 20px;
    line-height: 30px;
    list-style:disc;
}