/* Dark mode */
:root {
  --bodyBackground: #f8f9fa;
  --bodyBackgroundActive: #e2e2ea;
  --textColor: #5A5353;
  --linkColor: cyan;
  --sideBar: rgb(240, 216, 143);
}

[data-theme="dark"] {
  --bodyBackground: #212529 ;
  --bodyBackgroundActive: #000000;
  --textColor: white;
  --linkColor: navy;
  --sideBar: #f8e3aa;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* MTG font */
@font-face {
  font-family: "BelerenBold";
  src: local("BelerenBold"),
   url("./fonts/Beleren2016-Bold.ttf") format("truetype");
  font-weight: bold;
 }